---
import { formatDate } from "../lib/helpers";
import BasicLayout from "./BasicLayout.astro";

type Props = {
  title: string;
  description: string;
  pubDate: Date;
  minutesRead: string;
  url: string;
};

const { title, description, pubDate, minutesRead, url } = Astro.props;
---

<BasicLayout description={description} page="blog" slug={url} title={title}>
  <main class="mx-auto max-w-3xl w-full h-screen p-8">
    <a
      class="theme-chip px-4 py-2 rounded-lg mb-8 transition-colors duration-200"
      href="/blog"
      >Back</a
    >
    <div class="my-10">
      <h1 class="text-5xl font-semibold">{title}</h1>
      <div class="flex justify-between pt-4 text-muted text-sm">
        <p>{formatDate(pubDate)}</p>
        <p>{minutesRead}</p>
      </div>
    </div>
    <article class="prose prose-slate theme-prose">
      <slot />
    </article>
  </main>
</BasicLayout>
