---
import BasicLayout from "./BasicLayout.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  url?: string;
  page?: "travel";
  fullScreen?: string;
}

const { title, description, image, url, page } = Astro.props;
---

<BasicLayout description={description} image={image} page={page} title={title} url={url}>
  <div
    class="loader text-3xl font-black uppercase flex justify-center items-center w-screen h-screen z-50 fixed top-0 bottom-0 right-0 left-0"
    slot="loader"
  >
  </div>
  <slot />
</BasicLayout>
